.alertRed {
	padding: 20px;
	background-color: #f44336;
	color: white;
	margin-bottom: 15px;
}
.alertYellow {
	padding: 20px;
	background-color: #ff9800;
	color: white;
	margin-bottom: 15px;
}
.alertGreen {
	padding: 20px;
	background-color: #4CAF50;
	color: white;
	margin-bottom: 15px;
}
.alertBlue {
	padding: 20px;
	background-color: #2196F3;
	color: white;
	margin-bottom: 15px;
}

.alertRedCI {
	padding: 20px;
	border: solid 2px #f44336;
	color: white;
	margin-bottom: 15px;
}
.alertYellowCI {
	padding: 20px;
	border: solid 2px #ff9800;
	color: white;
	margin-bottom: 15px;
}
.alertGreenCI {
	padding: 20px;
	border: solid 2px #4CAF50;
	color: white;
	margin-bottom: 15px;
}
.alertBlueCI {
	padding: 20px;
	border: solid 2px #2196F3;
	color: white;
	margin-bottom: 15px;
}

.alertCloseBtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.alertCloseBtn:hover {
	color: black;
}