// VARS


:root {
    --clr__primary: rgb(18, 18, 18); // rgb(4, 10, 15)
    --clr__font: rgb(187, 187, 187);
    --clr__font__headline: rgb(230, 230, 230);
    --clr__font__link: rgb(11, 124, 172);
    --clr__card--hover: rgba(128, 128, 128, 0.2);

    --nav_height: 60px;
    --sidepnl_width: 270px;
}
html {
    height: 100%;
}
body {
    background-color: var(--clr__primary);
    color: var(--clr__font);
    font-size: 18px;
    font-family: "Segoe UI", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: 600;

    // Don't have overflow from non-wrapping text
    word-break: break-word;
    word-wrap: break-word;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;

    // Flex for footer to stay on the bottom
    display: flex;
    min-height: 100%;
    flex-direction: column;
}
table, tr, td {
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
}

div.table {
    display: table;
    border-collapse: collapse;
    width: 100%;
}
div.tr { 
    display:table-row; 
}
div.td { 
    display:table-cell;
}

a {
    .imageLink {
        text-decoration:none;
        outline: 0;
    }
}

hr {
    // Set hr to default Firefox values
	border-top: 1px solid rgb(90, 90, 90);
	border-bottom: 1px solid rgb(191, 191, 191);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
	margin-bottom: 0.4em;
    color: var(--clr__font__headline);
    font-family: "Orbitron", "Montserrat", sans-serif;
    font-weight: 600;
}
h1 {
	font-size: 2.67rem;
}
h2 {
	font-size: 2.3rem;
}
h3 {
	font-size: 1.6rem;
}
h4 {
	font-size: 1.45rem;
}
h5 {
	font-size: 1.33rem;
}
h6 {
	font-size: 1.18rem;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    padding-bottom: 8px;
    border: 2px solid #bbb;
    color: #bbb;
    text-align: center;
    text-decoration: none;
    font-family: "Teko";
    font-weight: normal;
    letter-spacing: 0.966667px;
    font-size: 1.1em;
    line-height: 1.2em;
    cursor: pointer;
    transition: 0.3s;
    
    &:hover, &:focus {
        color: black;
        background-color: white;
    }


    &--angled {
        position: relative;
        margin: 0px 10px;
        border: none;

        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 2px solid #bbb;
            z-index: -1;
            transform: skew(-9deg);
            transition: 0.3s;
        }

        &:hover, &:focus {
            color: black;
            background-color: transparent;

            &::before {
                background-color: white;
            }
        }
    }
}

// FOR STICKY NAVBAR
// nav {
//     width: 100%;
//     z-index: 100;
//     top: 0;
//     position: sticky !important;

//     > div {
//         position: absolute;
//         width: 100%;
//         top: 0;
//         background-image: url('{{ site.baseurl_root }}/assets/img/bgNav.png');
//         background-size: cover;
//         box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.8);
//         background-color: rgba(30, 30, 30, 0.5);
//         border-bottom: 1px solid rgba(175, 175, 175, 0.15);
//     }
nav {
    top: 0;
    width: 100%;
    height: var(--nav_height);
    z-index: 100;
    background-image: url('{{ site.baseurl_root }}/assets/img/bgNav.png');
    background-size: cover;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
    background-color: rgba(30, 30, 30, 0.5);
    border-bottom: 1px solid rgba(175, 175, 175, 0.15);
    font-family: "Montserrat", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: normal;
    
    ul {
        margin: 0px;
        padding: 0px 8%;
        list-style-type: none;
        
        li {
            margin: auto;
            height: var(--nav_height);
            float: left;
            
            &:first-child {
                margin-right: 15px;
                
                a {
                    padding: 4px 5px;
                    
                    &:hover, &:focus {
                        background-color: rgba(0, 0, 0, 0);
                    }
                    
                    img {
                        display: block;
                        margin: auto;
                        height: calc(var(--nav_height) - 8px);
                        box-sizing: border-box;
                    }
                }
            }                
            &.dropdown {
                position: relative;
                display: inline-block;
            
                &:hover, &:focus {
                    > a {
                        background-color: rgba(65, 105, 225, 0.35);
                    }
                    .dropdown-content {
                        display: block;
                    }
                }
                
                &--lang {
                    vertical-align: middle;

                    &:hover, &:focus .dropdown-content {
                        right: 0;
                    }

                    > a > img {
                        width: calc(var(--nav_height) / 3);
                        height: calc(var(--nav_height) / 3);
                        filter: invert(1);
                    }
                    .dropdown-content img {
                        margin-right: 10px;
                        margin-bottom: 2px;
                        height: calc(var(--nav_height) / 3.5);
                        border: 1px solid rgba(255, 255, 255, 0.3);
                    }
                }
            }
            
            a {
                padding: 0px 22px;
                display: inline-block;
                text-decoration: none;
                color: white;
                cursor: pointer;
                
                &:hover, &:focus {
                    background-color: rgba(65, 105, 225, 0.35);
                }
            }
            > a {
                line-height: var(--nav_height);
            }
            .dropdown-content {
                display: none;
                min-width: 100%;
                position: absolute;
                background-color: rgba(30, 30, 30 , 0.7);
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-top: none;
                box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.9);
                z-index: 2;
                
                a {
                    white-space: nowrap;
                    width: 100%;
                    padding: 12px 16px;
                    color: white;
                    text-decoration: none;
                    text-align: left;
                    
                    &:hover, &:focus {
                        background-color: rgba(80, 80, 80, 0.7)
                    }
                }
            }
        }
        .active {
            background-color: rgba(75, 75, 75, 0.55) !important;
        }

        .btnHamburger {
            font-size: calc(var(--nav_height) - 30px);
        }
    }
}
.sidepnl {
    width: var(--sidepnl_width);
    height: 100%;
    position: fixed;
    z-index: 5;
    top: 0px;
    right: -var(--sidepnl_width);
    text-align: left;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.2s;
    box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0);

    a, .sidepnlCategory {
        display: block;
        text-decoration: none;
    }
    > a, .sidepnlCategory {
        margin: 0px 25px;
        padding: 7px 7px 7px 7px;
        font-size: 1.25rem;
        border-top: 1px solid rgba(175, 175, 175, 0.15);
    }
    > a {
        cursor: pointer;

        &:not(:nth-child(n+3)) {
            border-top: none;
        }
        &:hover, &:focus {
            color: #f1f1f1;
        }
    }
    .sidepnlCategory {
        padding-bottom: 5px;
    }
    .sidepnlSub a {
        margin-left: 40px;
        padding: 2px 7px 7px 7px;
        border-top: none;
    }
    .closebtn {
        margin-left: calc(var(--sidepnl_width) - var(--nav_height));
        font-size: calc(var(--nav_height) - 30px);
    }
    .active {
        color: #eee;
    }
}
.section {
    margin: 0px;
    width: 100%;
    padding: 0px;

    &--slideshow {
        position: relative;
        overflow: hidden;
        background-color: black;

        &__slidecard {
            position: relative;
        }

        &__image {
            z-index: -1;
            height: 750px;
            max-height: 750px;
            overflow: hidden;
            display: block;
            background-position: center top;
        }
        &__blur-image {
            top: -5px;
            height: calc(var(--nav_height) + 13px);
            position: absolute;
            background-position: center top;
            background-color:black;
            filter: blur(5px) brightness(0.7);
        }
        &__info {
            position: absolute;
            bottom: 12%;
            width: 100%;
            padding: 0px 30px;
            text-align: center;

            &--light {
                --clr__font__headline: white;
                --clr__font-shadow: black;
            }
            &--dark {
                --clr__font__headline: black;
                --clr__font-shadow: white;
            }

            &__title, &__subtitle {
                color: var(--clr__font__headline);
                font-weight: bold;
                text-shadow: 1px 2px 2px var(--clr__font-shadow),
                             -1px 2px 2px var(--clr__font-shadow),
                             1px -2px 2px var(--clr__font-shadow),
                             -1px -2px 2px var(--clr__font-shadow);
            }
            &__title {
                font-size: 60px;
            }
            &__subtitle {
                font-size: 30px;
                margin-bottom: 30px;
            }
            &__button {
                background-color: rgb(216, 216, 216);
                color: rgb(0, 0, 0);
                font-size: 1.2em;

                &:hover {
                    background-color: rgb(145, 145, 145);
                    
                }
            }
        }
    }
    &--top-image {
        overflow: hidden;
        background-color: black;

        >div {
            background-image: url('{{ site.baseurl_root }}/assets/img/bg.png');
            background-attachment: fixed;

            >div {
                &:nth-child(1) {        //Blurbar
                    top: -5px;
                    width: 100%;
                    height: 68px;
                    display: block;
                    position: absolute;
                    background-size: auto;
                    background-repeat: no-repeat;
                    background-position: top;
                    background-attachment: fixed;
                    background-color:black;
                    filter: blur(5px);
                }
                &:nth-child(2) {        //Image
                    z-index: -1;
                    width: 100%;
                    height: 591px;
                    max-height: 591px;
                    overflow: hidden;
                    display: block;
                    background-repeat: no-repeat;
                    background-position: top;
                    background-attachment: fixed;
                }                    
                &:nth-child(3) {        //Text
                    width: 100%;
                    padding-left: 30px;
                    top: 510px;
                    color: #ddd;
                    text-shadow: 2px 2px 3px #000;
                    text-align: left;
                    font-size: 60px;
                    position: absolute;
                }
            }
        }
    }

    &--about {
        position: relative;
        background: rgba(0, 0, 0, 0) linear-gradient(to right, transparent 0%, rgba(20, 25, 33, 0.8) 24%, rgba(20, 25, 33, 0.8) 76%, transparent 100%) repeat scroll 0% 0%;
        
        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            height: 100%;
            // background-image: url(/assets/img/pattern.png);
            background-size: 289.5px 250px;
            background-repeat: repeat;
            z-index: -2;
            opacity: 0.3;
        }
    }

    &__inner {
        margin: auto;
        padding: 30px 5%;

        &__content {
            margin: auto;
            max-width: 1100px;

            &--index {

                &:nth-child(1) {
                    display: grid;
                    grid-template-columns: 3fr 5fr;
                    grid-gap: 40px;
                    // text-align: justify;
                }
            }
        }
    }
}
.news {
     > a {
        text-decoration: none;
        cursor: pointer;

        &:not(:first-child) > div {
            border-top: 1px solid rgba(175, 175, 175, 0.15);
        }

        > div {
            width: 100%;
            padding: 20px 7px 20px 7px;

            &:hover, &:focus {
                background-color: rgba(128, 128, 128, 0.2);
                transition: 0.2s;

                > div {
                    &:nth-child(1) > div {
                        background-size: auto 120px;
                        transition: 0.2s;
                    }
                    &:nth-child(2) > :first-child {
                        color: rgb(206, 161, 12);
                        transition: 0.2s;
                    }
                }
            }

            > div {
                display: table-row;
                vertical-align: middle;

                &:nth-child(1) {
                    display: table-cell;
                    max-width: 200px;
                    max-height: 110px;
                    overflow: hidden;
                    border: 1px solid rgba(175, 175, 175, 0.15);

                    >div {
                        width: 200px;
                        height: 110px;
                        position: center;
                        background-size: auto 110px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        transition: 0.2s;
                    }
                }
                &:nth-child(2) {
                    display: table-cell;
                    padding: 0px 10px;

                    >:nth-child(1) {
                        margin-bottom: 10px;
                        color: rgb(86, 189, 255);
                        transition: 0.4s;
                    }
                    >:nth-child(2) {
                        margin-bottom: 10px;
                        font-size: 0.9em;
                        transition: 0.4s;
                    }
                }
            }
        }
    }

    &--post {
        // display: flex;

        * {
            border-top: none;
        }
    }
}
.members {
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;

    * {
        transition: 0.2s;
    }
    .member-card {
        position: relative;
        margin: 11px;
        width: 225px;
        padding: 15px;
        padding-top: 0px;
        border: 1px solid rgba(175, 175, 175, 0.01);
        border-radius: 15px;
        text-align: center;
        box-shadow: 10px 10px 20px rgba(black, 0.4), 
                    -7px -7px 20px rgba(white, 0.05);
        
        &::before {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            height: 100%;
            z-index: -1;
            border-radius: inherit;
            background-color: var(--clr__primary);
        }

        * {
            margin: auto;
        }

        &__image-container {
            position: relative;
            overflow: hidden;

            &__image {
                height: 165px;
                padding-top: 20px;
                padding-bottom: 10px;
            }

            &__contacts {
                display: none;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                padding: 15px;

                &__title {
                    margin-bottom: 10px;
                    color: white;
                }
                
                &__contact {                    
                    a {
                        display: inline-block;
                        margin-bottom: 5px;
                        cursor: pointer;
                    }
                    img {
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        border-radius: 25%;
                        border: 2px solid rgba(175, 175, 175, 0.4);
                        transition: 0.1s;
                
                        &:hover, &:focus {
                            border: 2px solid rgba(175, 175, 175, 0.8);
                            transition: 0.1s;
                        }
                    }
                }
            }
        }
        &__name {
            margin-bottom: 5px;
            padding: 0px 10px;
            font-size: 1.1em;
            color: rgb(86, 189, 255);
        }
        &__description {
            margin-top: 20px;

            &__collapse-button {
                display: block;
                box-sizing: border-box;
                margin-bottom: 5px;
                width: 100%;
                padding-top: 0.2em;
                padding-bottom: 0.5em;
                border-radius: 5px;
                color: rgba(white, 0.8);
                cursor: pointer;

                &:hover, &:focus {
                    background-color: var(--clr__card--hover);
                }
            }
            &__content {
                max-height: 0;
                padding: 0px 5px;
                overflow: hidden;
                transition: 0.2s;
            }
        }


        &:hover, &:focus {
            background-color: var(--clr__card--hover);

            .member-card {
                &__image-container {

                    &__image {
                        filter: blur(6px) brightness(0.4);
                    } 
        
                    &__contacts {
                        display: block;
                    }
                }
            }
        }
    }

    &--main {
        .member-card__name {
            color: rgb(206, 161, 12);
        }
    }
}
.blurBg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    background-size: cover; 
    background-repeat: no-repeat;
    background-color: black;
}

.post {
    width: 100%;
    padding: 64px 5%;
    font-size: 1.125em;
    font-family: "Segoe UI", "Open Sans", -apple-system, BlinkMacSystemFont, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

    &__inner {
        max-width: 720px;
        margin: 0px auto;

        img.post-img {
            width: 100%;
            margin-top: 16px;
            margin-bottom: 16px;
        }
        h1, h2, h3, h4, h5, h6 {
            font-family: "Montserrat", sans-serif;
        }
    
        .post-info {
            margin: 64px 0px;
    
            h1 {
                margin-bottom: 8px;
                font-weight: 800;
                text-transform: uppercase;
            }
            h6 {
                font-weight: 600;
            }
    
            &__date {
                padding-left: 24px;
            }
        }
        .recent-posts {
            margin-top: 120px;
        }
    }

    .recent-posts {

        hr {
            opacity: 0.3;
            margin-bottom: 15px;
        }

        > :nth-child(2) {
            padding-top: 10px;
        }
    }
}



footer {
    margin-top: auto;

    .footer--top {
        width: 100%;
        background-color: #081010;
        border-top: 1px solid rgba(175, 175, 175, 0.15);
    
        .socialMedia img {
            width: 40px;
            height: 40px;
            border-radius: 25%;
            border: 2px solid rgba(175, 175, 175, 0.2);
            transition: 0.1s;
    
            &:hover, &:focus {
                border: 2px solid rgba(175, 175, 175, 0.5);
                transition: 0.1s;
            }
        }
    }
    .footer--bottom {
        width: 100%;
        text-align: center;
        background-color: rgb(30, 30, 30);
        border-top: 1px solid rgba(175, 175, 175, 0.15);
    }
}
.navBtm {
    margin: 0;
    list-style-type: none;
    display: inline-block;
    
    li {
        display: inline-block;
        padding: 0px 10px;

        a {
            text-decoration: none;

            &:hover, &:focus-within {
                text-decoration: underline;
            }
        }
    }
}


form {
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: rgba(100, 100, 100, 0.5);
}

input[type=text] {
    width: 250px;
    height: 25px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 13px;
    padding: 4px;
    margin-top: 10px;
}
input[type=password] {
    width: 250px;
    height: 25px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 13px;
    padding: 4px;
    margin-top: 10px;
}
input[type=email] {
    width: 250px;
    height: 25px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 13px;
    padding: 4px;
    margin-top: 10px;
}
input[type=submit] {
    width: 160px;
    height: 25px;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #a18d6c;
    font-family: 'Exo', sans-serif;
}
input[type=submit]:hover {
    opacity: 0.8;
}
input[type=submit]:active {
    opacity: 0.6;
}
input[type=text]:focus {
    outline: none;
    border: 1px solid rgba(255,255,255,0.9);
}
input[type=email]:focus {
    outline: none;
    border: 1px solid rgba(255,255,255,0.9);
}
input[type=password]:focus {
    outline: none;
    border: 1px solid rgba(255,255,255,0.9);
}
input[type=submit]:focus {
    outline: none;
}















select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}







.showOnSmallScreen {
    display: none;
}
.showOnBigScreen {
    display: block;
}
.showOnBigScreenInline {
    display: inline-block;
}
.posAbsolute {
    position: absolute;
}

@media only screen and (max-width: 1920px) {
    .section--slideshow > div > div {
        display: block;
        width: 100%;
        background-repeat: no-repeat;
        background-size: auto;
    }
}

@media only screen and (max-width: 1300px) {
	nav ul {
		padding: 0px 1%;
	}
}
@media only screen and (max-width: 1000px) {
	.slideshow span:nth-child(-n+14) >span:nth-child(2) {
		background-size: contain;
	}
}
@media only screen and (max-width: 900px) {
    .showOnSmallScreen {
        display: block;
    }
    .showOnBigScreen, .showOnBigScreenInline {
        display: none;
    }

    .slideshow span span:nth-child(1) {
		height: 83px;
	}
}
@media only screen and (max-width: 600px) {
    .slideshow span:nth-child(-n+14) >span:nth-child(2) {
        background-image: url('{{ site.baseurl_root }}/assets/img/hdlFIWrapped.png');
    }
}